body
{
    text-align: center;
}
.container{
  background-color: mediumaquamarine;  
}
#app {
    background-color: rgb(107, 165, 237);
}

#myCarousel
{
    background-color: rgb(37, 48, 150);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

.img
{
    display:block;
    margin: 0px auto;
}
